@tailwind base;
@tailwind components;
@tailwind utilities;

.gal{
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(231,233,238,1) 0%, rgba(10,6,96,0.9710477941176471) 83%);
}

.bg{
    background: url("/images/beach.jpeg");
    height: 50vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    object-position: left bottom;
}